<!-- di-services, pipes-services -->

<h2>From ChildComponent:</h2>
<app-pipes-directives>
</app-pipes-directives>
<app-di-services>
</app-di-services>



<!-- providers-view-providers -->

<h2>From AppComponent:</h2>
<p>Emoji from FlowerService: {{flower.emoji}}</p>
<p>Emoji from AnimalService: {{animal.emoji}}</p>

<hr />

<h2>From ChildComponent:</h2>
<app-providers-view-providers>
</app-providers-view-providers>



<!-- resolution-modifiers -->

<h1>DI resolution modifiers</h1>
<p>Basic flower service: {{flower.emoji}}</p>
<p>Basic leaf service: {{leaf.emoji}}</p>

<app-resolution-modifiers>
</app-resolution-modifiers>